/**
 * Typography Styles
 * Text styling and typography rules
 */

body {
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
    color: var(--color-white);
}

/* Typography hierarchy */
h1, h2, h3, h4, h5, h6 {
    margin: 0.5em 0;
    color: var(--color-white);
    font-weight: 600;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

p {
    line-height: 1.6;
    margin: 1em 0;
}

