/* Variables */
:root {
    --color-light-grey: #d3d3d3;
    --color-dark-grey: #2e2e2e;
    --color-black: black;
    --color-white: white;
    --color-primary: #5d8fb3;
    --color-hover: #555;
    --font-family: Arial, sans-serif;
}

/* Base Styles */
body {
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
}

a {
    color: var(--color-primary);
}

a:visited {
    color: var(--color-primary);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 20px;
}

/* Layout */
header, footer {
    background-color: var(--color-light-grey);
    color: black;
    padding: 1em 0;
    text-align: center;
    width: 100%;
    position: relative;
}

main {
    padding: 2em;
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
}

nav {
    justify-content: center;
    width: 100%;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    width: 100%;
}

nav ul li {
    margin: 0 1em;
}

nav ul li a {
    color: var(--color-white);
    text-decoration: none;
}

nav ul li button {
    background-color: var(--color-light-grey);
    color: black;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
}

nav ul li button:hover {
    background-color: var(--color-hover);
}

#theme-toggle {
    position: absolute;
    right: 1em;
    background-color: var(--color-primary);
    color: var(--color-white);
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
}

/* Dark Mode */
.dark-mode {
    background-color: black;
    color: var(--color-white);
}

.dark-mode header, .dark-mode footer {
    background-color: black;
    color: var(--color-white);
}

.dark-mode main {
    background-color: black;
    color: var(--color-white);
}

.dark-mode .card-container, .dark-mode .carousel {
    background-color: black;
}

.dark-mode .card, .dark-mode .carousel-images img {
    background-color: black;
}

.dark-mode header a, .dark-mode nav ul li a {
    color: var(--color-white);
}

.dark-mode header button {
    background-color: var(--color-black);
    color: var(--color-white);
}

.dark-mode #theme-toggle {
    background-color: var(--color-hover);
    color: var(--color-white);
}

.dark-mode pre, .dark-mode code {
    background-color: var(--color-dark-grey);
    color: var(--color-white);
    border-radius: 5px;
}

.dark-mode .code-block {
    background-color: var(--color-dark-grey);
}

.dark-mode .copy-button {
    background-color: var(--color-hover);
}

/* Responsive Styles */
@media (max-width: 600px) {
    header {
        flex-direction: column;
        padding: 0.5em 0;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 0.5em 0;
    }

    #theme-toggle {
        position: static;
        margin-top: 1em;
    }
}

.carousel {
    position: relative;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-images img {
    width: 100%;
    flex-shrink: 0;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

.carousel-button.prev {
    left: 10px;
}

.carousel-button.next {
    right: 10px;
}