<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="viewport" content="width=device-width, initial-scale=0.7">
<title>{{ page.title }}</title>
<link rel="stylesheet" href="{{ '/styles.css' | asset_hash_versioned }}">
<link rel="stylesheet" href="{{ '/assets/css/gallery.css' | asset_hash_versioned }}">
<link rel="stylesheet" href="{{ '/assets/css/footer.css' | asset_hash_versioned }}">
<link rel="stylesheet" href="{{ '/assets/css/docs.css' | asset_hash_versioned }}">
<link rel="stylesheet" href="{{ '/assets/css/tech-docs.css' | asset_hash_versioned }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/favicon-32x32.png' | asset_hash_versioned }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/favicon-16x16.png' | asset_hash_versioned }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/apple-touch-icon.png' | asset_hash_versioned }}">
<link rel="manifest" href="{{ '/assets/site.webmanifest' | asset_hash_versioned }}">
<script src="https://unpkg.com/lunr/lunr.js"></script>